<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Bienvenido a NotesApp</h1>
            
        </div>
        <div class="card-body">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                At iste dolor hic eveniet dignissimos voluptatem atque quis mollitia ratione 
                corporis libero tempore, quo possimus sint delectus quia fugiat tempora ipsa 
                architecto reiciendis laborum ex voluptate a? Officia consequatur cupiditate omnis.
            </p>
        </div>
    </div>
</div>