<div class="jumbotron mt-4">

    <h1 class="display-4">Notes App Nodejs and mongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur. </p>
    <hr class="my-4">
    <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
        Ea, a. Nihil dolore corrupti eius id esse? Delectus aut debitis hic 
        error laboriosam ad eum aspernatur sapiente eaque culpa, nihil porro!
    </p>
    <a href="http://www.google.com.ar" class="btn btn-primary btn-lg">Google</a>
</div>